body {
    background-color: #202020;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-flow: row wrap;
}

button {
    font-size: 12pt;
    font-family: 'Montserrat', sans-serif;
}

/* div {
    border: 2px solid red;
} */

#header {
    height: 150px;
    margin: 15px;
}

#navContainer {
    margin: auto;
    padding: 40px 5px 5px 5px;
}

#searchbar {
    background-color: #404040;
    font-size: 12pt;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    width: 300px;
    height: 35px;
}

#search {
    margin: 5px;
    width: 150px;
    height: 40px;
    font-size: 12pt;
    font-family: 'Montserrat', sans-serif;
}

#filterbar {
    display: flex;
    justify-content: left;
    align-items: center;
}

.filter {
    margin: 5px;
    width: 150px;
    height: 40px;
}

#logo {
    max-width: 100%;
    max-height: 100%;
}

#logoContainer {
    height: 100px;
    width: 150px;
    margin: auto;
}

#pageButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 400px;
    margin: auto;
}

.next, .previous{
    margin: 5px;
    width: 100px;
    height: 30px;
}

#cardContainer {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: auto;
    height: auto;
    width: 80%;
}

.cardTextContainer {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.cardImg {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.card {
    /* border: 2px solid green; */
    background-color: #404040;
    border-radius: 15px;
    /* background-image: url(/assets/background-sunset.jpg); */
    display: flex;
    width: auto;
    height: auto;
    margin: 15px;
}
.title {
    font-weight: bold;
}

#footer {
    text-align: center;
    height: 150px;
    margin: 15px;
}